/* Configuración global */
* {
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el tamaño total del elemento */
    font-family: "Inter", serif; /* Establece la fuente predeterminada */
    margin: 0; /* Elimina los márgenes predeterminados */
}

/* Estilo del cuerpo de la página */
body {
    color: #2D2D2D; /* Color del texto principal */
    font-family: "Inter", sans-serif; /* Fuente del texto */
    font-weight: 300; /* Hace que el texto sea delgado */
    height: 208px; /* Altura del cuerpo */
    width: 1897px; /* Ancho del cuerpo */
    max-height: 208px; /* Altura máxima */
    max-width: 1897px; /* Ancho máximo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

/* Estilo para enlaces */
a {
    font-size: 16px; /* Tamaño de la fuente de los enlaces */
}

/* Estilo del encabezado */
header {
    background-image: url(imagenes/fotoprincipal.png); /* Imagen de fondo del encabezado */
    background-size: contain; /* Ajusta la imagen para que se ajuste al contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 925px; /* Altura del encabezado */
    width: 1920px; /* Ancho del encabezado */
    max-height: 925px; /* Altura máxima */
    max-width: 1920px; /* Ancho máximo */
}

/* Contenedor principal del encabezado */
#cabecera {
    display: flex; /* Usa un diseño flexible para alinear elementos */
    justify-content: space-between; /* Espacia los elementos uniformemente */
    align-items: center; /* Alinea los elementos verticalmente */
}

/* Logo del encabezado */
.logo {
    width: 152.13px; /* Ancho del logo */
    max-width: 152.13px; /* Ancho máximo del logo */
    height: 110px; /* Altura del logo */
    max-height: 110px; /* Altura máxima del logo */
    margin-top: 31px; /* Espacio superior del logo */
    margin-left: 114px; /* Espacio izquierdo del logo */
}

/* Menú principal */
header #menu {
    display: flex; /* Usa un diseño flexible para el menú */
    justify-content: center; /* Centra los elementos del menú */
    align-items: center; /* Alinea los elementos verticalmente */
    margin-right: 114px; /* Espacio derecho del menú */
}

#menu > nav > ul {
    width: 396px; /* Ancho del contenedor de la lista */
    max-width: 396px; /* Ancho máximo */
    height: 32px; /* Altura del contenedor */
    max-height: 32px; /* Altura máxima */
    margin-top: 71px; /* Espacio superior */
    left: 1212px; /* Posición desde la izquierda */
    padding: 0; /* Elimina el padding */
    display: flex; /* Usa un diseño flexible */
    justify-content: space-between; /* Espacia los elementos uniformemente */
    align-items: center; /* Alinea los elementos verticalmente */
}

#menu > nav > ul > li {
    list-style: none; /* Elimina los puntos de la lista */
}

#menu > nav > ul > li > a {
    color: #FFFFFF; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    font-weight: 500; /* Grosor del texto */
    line-height: 32px; /* Altura de línea */
}

/* Botón del menú principal */
button > a {
    text-decoration: none; /* Elimina el subrayado del enlace */
}

#menu > button {
    transition: cursor 3s ease; /* Transición suave para el cursor */
    width: 151px; /* Ancho del botón */
    max-width: 151px; /* Ancho máximo */
    height: 50px; /* Altura del botón */
    max-height: 50px; /* Altura máxima */
    border: 2px solid #FFFFFF; /* Borde blanco */
    border-radius: 10px; /* Bordes redondeados */
    margin-top: 71px; /* Espacio superior */
    left: 1655px; /* Posición desde la izquierda */
    margin-left: 49.5px; /* Espacio izquierdo */
    background-color: transparent; /* Fondo transparente */
}

#menu > button:hover {
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

#menu > button > a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #FFFFFF; /* Color del texto */
    font-weight: 700; /* Grosor del texto */
    font-size: 14px; /* Tamaño del texto */
    line-height: 16.94px; /* Altura de línea */
}

/* Sección de anuncio */
#anuncio {
    display: flex; /* Usa un diseño flexible */
    justify-content: space-between; /* Espacia los elementos uniformemente */
}

#anuncio_cont {
    display: flex; /* Usa un diseño flexible */
}

/* Flechas de navegación */
.flecha {
    transition: cursor 3s ease; /* Transición suave para el cursor */
    height: 40px; /* Altura de la flecha */
    max-height: 40px; /* Altura máxima */
    width: 40px; /* Ancho de la flecha */
    max-width: 40px; /* Ancho máximo */
    margin-top: 320px; /* Espacio superior */
    border: 1px solid #FFFFFF; /* Borde blanco */
    border-radius: 100%; /* Forma redonda */
    display: flex; /* Usa un diseño flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.flecha:hover {
    cursor: pointer; /* Cambia el cursor al pasar sobre la flecha */
}

#flechadere {
    margin-left: 110px; /* Espacio izquierdo */
    opacity: 100%; /* Hace que la flecha sea completamente visible */
    color: #FFFFFF; /* Color blanco */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)); /* Añade sombra para mejor visibilidad */
}

#flechaiz {
    margin-right: 110px; /* Espacio derecho */
}

/* Texto del anuncio */
#anuncio > p {
    color: #FFFFFF; /* Color del texto */
    max-width: 323px; /* Ancho máximo */
    max-height: 32px; /* Altura máxima */
    margin-top: 156px; /* Espacio superior */
    margin-left: 60px; /* Espacio izquierdo */
    font-weight: 500; /* Grosor del texto */
    font-size: 16px; /* Tamaño del texto */
    line-height: 25px; /* Altura de línea */
}

#anuncio h4 {
    color: #FFFFFF;
    width: 505px;
    max-width: 505px;
    height: 206px;
    max-height: 206px;
    margin-top: 9px;
    margin-left: 60px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

/* Sección de video */
.video {
    width: 241px;
    max-width: 241px;
    margin-left: 60px;
    display: flex;
    gap: 20px;
}

#botonplay {
    transition: cursor 3s ease;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    width: 43px;
    max-width: 43px;
    height: 43px;
    max-height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botonplay:hover {
    cursor: pointer;
}

#botonplay > img {
    width: 14.56px;
    max-width: 14.56px;
    height: 11.79px;
    max-height: 11.79px;
}

.video > a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}

/* Contenido principal */
main {
    width: 1920px;
    max-width: 1920px;
    height: 6345px;
    max-height: 6345px;
    background-color: #F7F2DB;
    position: absolute;
}

/* Sección "About" */
#about {
    width: 72px;
    max-width: 72px;
    height: 24px;
    max-height: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
    margin-top: 186px;
    margin-left: 923px;
}

#about > p {
    text-align: center;
    color: #97A483;
}

/* Sección de actividades */
#accommodation {
    display: flex;
    justify-content: space-between;
}

#accommodation > p {
    color: #FFFFFF;
    max-width: 323px;
    max-height: 32px;
    margin-top: 156px;
    margin-left: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}

#activitycont > h2 {
    width: 520px;
    max-width: 520px;
    height: 122px;
    max-height: 122px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60.51px;
    text-align: center;
    margin-top: 41px;
    margin-left: 699px;
}

#activitycont > p {
    width: 1088px;
    max-width: 1088px;
    height: 130px;
    max-height: 130px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #555555;
    margin-top: 27px;
    margin-left: 416px;
}

/* Iconos */
#iconos {
    max-width: 1500px;
    height: 100px;
    max-height: 100px;
    margin-left: 295px;
    margin-right: 295px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#iconos > hr {
    width: 95px;
    color: #BFBFBF;
    rotate: -90deg;
}

#iconos > div > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-top: 18px;
}

.iconos {
    margin-top: 20px;
}

.iconos > img {
    margin-left: 19px;
}

/*AUTOCARAVANA*/

#autocaravana > img {
    width: 104px;
    max-width: 104px;
    height: 59px;
    max-height: 59px;
}

#autocaravana > p {
    width: 142px;
    max-width: 142px;
    height: 30px;
    max-height: 30px;
}

/*REMOLQUE*/

#remolque > img {
    width: 97px;
    max-width: 97px;
    height: 59px;
    max-height: 59px;
}

#remolque > p {
    width: 150px;
    max-width: 150px;
    height: 30px;
    max-height: 30px;
}

#tiendadecampaña > img {
    width: 79px;
    max-width: 79px;
    height: 59px;
    max-height: 59px;
}

#tiendadecampaña > p {
    width: 117px;
    max-width: 117px;
    height: 30px;
    max-height: 30px;
}

/*LUGARES CAMPING*/

#campañagrande > img {
    width: 102.16px;
    max-width: 102.16px;
    height: 62.9px;
    max-height: 62.9px;
}

#campañagrande > p {
    width: 129px;
    max-width: 129px;
    height: 30px;
    max-height: 30px;
}

/*CABAÑA*/

#houses > img {
    width: 62px;
    max-width: 62px;
    height: 59px;
    max-height: 59px;
}

#houses > p {
    width: 143px;
    max-width: 143px;
    height: 30px;
    max-height: 30px;
}

#cards2 {
    display: flex;
    align-items: center;
    margin-top: 87px;
}

#cards2 > div {
    width: 474px;
    max-width: 474px;
    height: 527px;
    max-height: 527px;
    justify-items: center;
}

#cards2 > div > img {
    width: 474px;
    max-width: 474px;
    height: 320px;
    max-height: 320px;
}

#cards2 > div > h2 {
    width: 282px;
    max-width: 282px;
    height: 25px;
    max-height: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 19px;
}

#cards2 > div > p {
    width: 452px;
    max-width: 452px;
    height: 130px;
    max-height: 130px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    text-align: center;
}

#campingarea {
    margin-left: 210px;
}

#rv {
    margin-left: 39px;
}

#hausechill {
    margin-left: 39px;
}

#activity2 {
    display: flex;
}

#activityprincipal > h1,
#activityprincipal > p {
    margin-left: 210px;
}

#activityprincipal {
    margin-top: 131px;
    font-weight: 700;
}

#activityprincipal > p {
    width: 97px;
    max-width: 97px;
    height: 24px;
    max-height: 24px;
    font-size: 20px;
    line-height: 24.2px;
    color: #97A483;
}

#activityprincipal > h1 {
    width: 646px;
    max-width: 646px;
    height: 122px;
    max-height: 122px;
    font-size: 50px;
    line-height: 60.51px;
    color: #2D2D2D;
    margin-top: 17px;
}

#Activitylogoprinci {
    width: 582px;
    max-width: 582px;
    height: 338px;
    max-height: 338px;
    background-image: url(imagenes/activitygris.png);
    margin-top: 120px;
    margin-left: 232px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

#activityprincipal > img {
    width: 395px;
    max-width: 395px;
    height: 355.46px;
    max-height: 355.46px;
}

#simbolosactivity2,
#simbolosactivity3 {
    display: flex;
}

#simbolosactivity h1 {
    height: 25px;
    max-height: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #2D2D2D;
    margin-top: 28px;
}

#simbolosactivity p {
    width: 296px;
    max-width: 296px;
    height: 130px;
    max-height: 130px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    margin-top: 19px;
}

#Everest {
    margin-left: 104px;
    margin-top: 71px;
}

#Everest > img {
    width: 104px;
    max-width: 104px;
    height: 104px;
    max-height: 104px;
}

#Everest > h1 {
    width: 103px;
    max-width: 103px;
}

#fuegonube {
    margin-top: 176px;
    margin-left: 84px;
}

#fuegonube > img {
    width: 93px;
    max-width: 93px;
    height: 94px;
    max-height: 94px;
}

#fuegonube > h1 {
    width: 85px;
    max-width: 85px;
}

#kayak {
    margin-left: 104px;
}

#kayak > img {
    width: 108px;
    max-width: 108px;
    height: 111px;
    max-width: 111px;
}

#kayak > h1 {
    width: 113px;
    max-width: 113px;
}

#hiking {
    margin-top: 70px;
    margin-left: 84px;
}

#hiking > img {
    width: 112px;
    max-width: 112px;
    height: 112px;
    max-height: 112px;
}

#hiking > h1 {
    width: 76px;
    max-width: 76px;
}

#fogata {
    width: 1920px;
    max-width: 1920px;
    height: 701px;
    max-height: 701px;
    background-image: url(imagenes/fogata.png);
    margin-top: 64px;
    position: relative;
}

#fogata > p {
    position: absolute;
    width: 903px;
    max-width: 903px;
    height: 122px;
    max-height: 122px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60.51px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 262px;
    margin-left: 508px;
}

#fogata > button {
    transition: cursor 3s ease;
    position: absolute;
    width: 293px;
    max-width: 293px;
    height: 50px;
    max-height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    margin-top: 432px;
    margin-left: 813px;
    justify-content: center;
    justify-items: center;
}

#fogata > button:hover {
    cursor: pointer;
}

#fogata > button > a {
    width: 150.36px;
    max-width: 150.36px;
    height: 17px;
    max-height: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    color: #FFFFFF;
    text-decoration: none;
}

#booking > p {
    width: 94px;
    max-width: 94px;
    height: 24px;
    max-height: 24px;
    font-weight: 700;
    font-size: 20px;
    list-style: 24.2px;
    text-align: center;
    color: #97A483;
    margin-top: 120px;
    margin-left: 914px;
}

#booking > h1 {
    width: 646px;
    max-width: 646px;
    height: 122px;
    max-height: 122px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60.51px;
    text-align: center;
    color: #2D2D2D;
    margin-top: 17px;
    margin-left: 638px;
}

/* Ajustar la separación entre las imágenes del apartado Booking */
.articulos_booking {
    display: flex;
    flex-wrap: wrap; /* Permitir que las imágenes se organicen en filas */
    gap: 20px; /* Espaciado entre las imágenes */
    margin-top: 86px;
    margin-left: 210px;
}

.articulos_booking > div {
    margin-bottom: 20px; /* Espaciado vertical entre filas */
}

#Caravan_soler_tent,
#Small_Cabin_Wood {
    margin-left: 32px;
}

.articulos_booking > div > img {
    width: 733px;
    max-width: 733px;
    height: 443px;
    max-height: 443px;
}

.articulos_booking h2 {
    height: 25px;
    max-height: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #345E40;
    margin-top: 39px;
}

#tiendamadera h2 {
    width: 179px;
    max-width: 179px;
}

#caravanasoler h2 {
    width: 223px;
    max-width: 223px;
}

#tendasoler h2 {
    width: 190px;
    max-width: 190px;
}

#cabinwood h2 {
    width: 213px;
    max-width: 213px;
}

.title_persons {
    width: 733px;
    max-width: 733px;
    display: flex;
    justify-content: space-between;
}

.title_persons > div {
    width: 179px;
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.title_persons > div > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #555555;
}

.title_persons > div > hr {
    color: #9A9A9A;
}

.articulos_booking > div > p {
    width: 677px;
    max-width: 677px;
    height: 130px;
    max-height: 130px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    color: #555555;
    margin-top: 21px;
}

.articulos_booking > div > button {
    transition: cursor 3s ease;
    width: 293px;
    max-width: 293px;
    height: 50px;
    max-height: 50px;
    background-color: #345E40;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articulos_booking > div > button:hover {
    cursor: pointer;
}

.articulos_booking > div > button > a {
    width: 150.36px;
    max-width: 150.36px;
    height: 17px;
    max-height: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    color: #FFFFFF;
    text-decoration: none;
}

#news > p {
    width: 55px;
    max-width: 55px;
    height: 24px;
    max-height: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24.2px;
    color: #97A483;
    margin-top: 120px;
    margin-left: 210px;
}

#lastestart {
    display: flex;
    margin-top: 13px;
}

#lastestart > h2 {
    width: 621px;
    max-width: 621px;
    height: 61px;
    max-height: 61px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60.51px;
    color: #2D2D2D;
    margin-left: 209px;
}

#lastestart > button {
    transition: cursor 3s ease;
    width: 151px;
    max-width: 151px;
    height: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #345E40;
    border-radius: 10px;
    margin-left: 729px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

#lastestart > button:hover {
    cursor: pointer;
}

/* Sección de noticias */
#noticias {
    margin-top: 48.79px; /* Espacio superior para la sección de noticias */
    display: flex; /* Coloca las noticias en fila */
}

#noticia1 {
    margin-left: 210.14px; /* Espacio a la izquierda de la primera noticia */
}

#noticia2,
#noticia3 {
    margin-left: 39.39px; /* Espacio entre la segunda y tercera noticia */
}

/* Imágenes de las noticias */
.new img {
    width: 473.36px; /* Ancho de las imágenes de las noticias */
    max-width: 473.36px; /* Ancho máximo */
    height: 286.41px; /* Altura de las imágenes */
    max-height: 286.41px; /* Altura máxima */
    display: block; /* Asegura que las imágenes se muestren correctamente */
    max-width: 100%; /* Ajusta el tamaño al contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
    z-index: 1; /* Asegura que las imágenes estén por encima de otros elementos */
}

/* Texto de las noticias */
.new p {
    width: 453px; /* Ancho del texto */
    max-width: 453px; /* Ancho máximo */
    height: 104px; /* Altura del texto */
    max-height: 104px; /* Altura máxima */
    font-weight: 700; /* Grosor del texto */
    font-size: 24px; /* Tamaño del texto */
    line-height: 32px; /* Altura de línea */
    text-align: justify; /* Justifica el texto */
    color: #2D2D2D; /* Color del texto */
    margin-top: 43.8px; /* Espacio superior */
}

/* Botón de enlace en las noticias */
.new_link {
    width: 157px; /* Ancho del botón */
    max-width: 157px; /* Ancho máximo */
    height: 60px; /* Altura del botón */
    max-height: 60px; /* Altura máxima */
    font-weight: 400; /* Grosor del texto */
    font-size: 24px; /* Tamaño del texto */
    line-height: 32px; /* Altura de línea */
    text-decoration: none; /* Elimina el subrayado */
    color: #555555; /* Color del texto */
}

/* Galería */
#gallery {
    position: relative; /* Posiciona la galería en relación a su contenedor */
    width: 1711px; /* Ancho de la galería */
    max-width: 1711px; /* Ancho máximo */
    height: 840px; /* Altura de la galería */
    max-height: 840px; /* Altura máxima */
    display: flex; /* Coloca los elementos en fila */
    margin-left: 209px; /* Espacio a la izquierda */
    margin-top: 73px; /* Espacio superior */
}

/* Título de la galería */
#gallery > div > h1 {
    width: 351px; /* Ancho del título */
    max-width: 351px; /* Ancho máximo */
    height: 61px; /* Altura del título */
    max-height: 61px; /* Altura máxima */
    font-weight: 700; /* Grosor del texto */
    font-size: 50px; /* Tamaño del texto */
    line-height: 60.51px; /* Altura de línea */
    color: #2D2D2D; /* Color del texto */
}

/* Descripción de la galería */
#gallery > div > p {
    width: 387px; /* Ancho del texto */
    max-width: 387px; /* Ancho máximo */
    height: 96px; /* Altura del texto */
    max-height: 96px; /* Altura máxima */
    font-weight: 400; /* Grosor del texto */
    font-size: 16px; /* Tamaño del texto */
    line-height: 30px; /* Altura de línea */
    text-align: justify; /* Justifica el texto */
    color: #555555; /* Color del texto */
    margin-top: 19px; /* Espacio superior */
}

/* Flechas de navegación en la galería */
#galleryflechas {
    display: flex; /* Coloca las flechas en fila */
    margin-top: 26px; /* Espacio superior */
}

.botones_gallery > button {
    transition: cursor 3s ease; /* Transición suave para el cursor */
    width: 40px; /* Ancho del botón */
    max-width: 40px; /* Ancho máximo */
    height: 40px; /* Altura del botón */
    max-height: 40px; /* Altura máxima */
    border: 1px solid #555555; /* Borde gris */
    border-radius: 100px; /* Bordes redondeados */
    display: flex; /* Centra el contenido del botón */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: transparent; /* Fondo transparente */
}

.botones_gallery > button:hover {
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Imagen principal de la galería */
#tiendafinal > img {
    width: 1140px; /* Ancho de la imagen */
    max-width: 1140px; /* Ancho máximo */
    height: 757px; /* Altura de la imagen */
    margin-top: 17px; /* Espacio superior */
    margin-left: 184px; /* Espacio a la izquierda */
}

/* Flecha izquierda de la galería */
#galleryflechasizqui {
    opacity: 30%; /* Hace que la flecha sea más transparente */
    rotate: 180deg; /* Gira la flecha */
}

/* Flecha derecha de la galería */
#galleryflechasdere {
    margin-left: 34px; /* Espacio a la izquierda */
}

/* Imagen destacada en la galería */
#casamaderafinal {
    position: absolute; /* Posiciona la imagen en relación a su contenedor */
    width: 352px; /* Ancho de la imagen */
    max-width: 352px; /* Ancho máximo */
    height: 456px; /* Altura de la imagen */
    max-height: 456px; /* Altura máxima */
    margin-left: 301px; /* Espacio a la izquierda */
    margin-top: 384px; /* Espacio superior */
}

#noticias {
    margin-top: 48.79px;
    display: flex;
}

#noticia1 {
    margin-left: 210.14px;
}

#noticia2,
#noticia3 {
    margin-left: 39.39px;
}

.new img {
    width: 473.36px;
    max-width: 473.36px;
    height: 286.41px;
    max-height: 286.41px;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.new p {
    width: 453px;
    max-width: 453px;
    height: 104px;
    max-height: 104px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: justify;
    color: #2D2D2D;
    margin-top: 43.8px;
}

.new_link {
    width: 157px;
    max-width: 157px;
    height: 60px;
    max-height: 60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    color: #555555;
}

#gallery {
    position: relative;
    width: 1711px;
    max-width: 1711px;
    height: 840px;
    max-height: 840px;
    display: flex;
    margin-left: 209px;
    margin-top: 73px;
}

#gallery > div > h1 {
    width: 351px;
    max-width: 351px;
    height: 61px;
    max-height: 61px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60.51px;
    color: #2D2D2D;
}

#gallery > div > p {
    width: 387px;
    max-width: 387px;
    height: 96px;
    max-height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    color: #555555;
    margin-top: 19px;
}

#galleryflechas {
    display: flex;
    margin-top: 26px;
}

.botones_gallery > button {
    transition: cursor 3s ease;
    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
    border: 1px solid #555555;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.botones_gallery > button:hover {
    cursor: pointer;
}

#tiendafinal > img {
    width: 1140px;
    max-width: 1140px;
    height: 757px;
    margin-top: 17px;
    margin-left: 184px;
}

#galleryflechasizqui {
    opacity: 30%;
    rotate: 180deg;
}

#galleryflechasdere {
    margin-left: 34px;
}

#casamaderafinal {
    position: absolute;
    width: 352px;
    max-width: 352px;
    height: 456px;
    max-height: 456px;
    margin-left: 301px;
    margin-top: 384px;
}

footer {
    width: 1920px;
    max-width: 1920px;
    height: 610px;
    max-height: 610px;
    background-color: #345E40;
    margin-top: 6345px;
}

footer > div {
    position: absolute;
    margin-left: 209px;
    display: flex;
}

#footersucribete {
    margin-top: 172px;
}

#footersucribete h1 {
    width: 751px;
    max-width: 751px;
    height: 182px;
    max-height: 182px;
    font-weight: 700;
    font-size: 70px;
    line-height: 91px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#footersucribete p {
    width: 228px;
    max-width: 228px;
    height: 21px;
    max-height: 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    color: #FFFFFF;
    margin-top: 34px;
}

#FooterDerecha {
    margin-top: 180px;
    margin-left: 197px;
}

#Menufooter {
    display: flex;
}

#Menufooter > nav {
    width: 384px;
    max-width: 384px;
    height: 99px;
    max-height: 99px;
}

#Menufooter > nav > h4 {
    width: 99px;
    max-width: 99px;
    height: 43px;
    max-height: 43px;
    font-weight: 700;
    font-size: 24px;
    line-height: 43.2px;
    color: #FFFFFF;
}

#Menufooter > nav > ul {
    width: 384px;
    max-width: 384px;
    height: 32px;
    max-height: 32px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 24px;
}

#Menufooter > nav > ul > li {
    list-style: none;
}

#Menufooter > nav > ul a {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: #FFFFFF;
}

#flechaup {
    transition: cursor 3s ease;
    width: 48px;
    max-width: 48px;
    height: 48px;
    max-height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-left: 124px;
}

#flechaup:hover {
    cursor: pointer;
}

#Contacto {
    width: 222px;
    max-width: 222px;
    height: 134px;
    max-height: 134px;
    margin-top: 33px;
}

#Contacto > h4 {
    width: 94px;
    max-width: 94px;
    height: 43px;
    max-height: 43px;
    font-weight: 700;
    font-size: 24px;
    line-height: 43.2px;
    color: #F8F5F0;
}

#Contacto > a {
    width: 176px;
    max-width: 176px;
    height: 21px;
    max-height: 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    color: #FFFFFF;
    text-decoration: none;
}

#Contacto > a > p {
    margin-top: 23.5px;
}

#logosredes {
    width: 213px;
    max-width: 213px;
    height: 24px;
    max-height: 24px;
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logosredes img {
    width: 24px;
    max-width: 24px;
    height: 24px;
    max-height: 24px;
}

#General {
    margin: 0 auto;
}

#FORMULARIO {
    position: absolute;
    z-index: 2;
    width: 1500px;
    height: 125px;
    background-color: #FFFFFF;
    margin-top: -63px;
    margin-left: 210px;
    display: flex;
    align-items: center;
    border: 0px;
    box-shadow: -10px 10px 20px #2D2D2D0D;
}

#formulario {
    display: flex;
    gap: 25px;
    margin-left: 97px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contenedor_formulario {
    width: 242px;
    height: 61px;
}

.contenedor_formulario img {
    width: 14px;
    height: 14px;
}

.contenedor_formulario label {
    width: 77px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.36px;
    margin-left: 6px;
    color: #345E40;
}

.contenedor_formulario input,
select {
    width: 140px;
    height: 19px;
    margin-top: 17px;
    border: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
}

.contenedor_formulario input:focus {
    outline: none;
}

.contenedor_formulario hr {
    width: 242px;
    margin-top: 6px;
    border: 1px solid #686868;
}

.contenedor_formulario select {
    width: 100%;
    text-transform: capitalize;
}

#formulario button {
    width: 241px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
    background-color: #345E40;
    border: 1px solid #345E40;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
}

/* Botón del formulario */
#formulario button:hover {
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Sección del formulario en el footer */
#formuariofooter {
    width: 809px; /* Ancho del formulario */
    height: 46px; /* Altura del formulario */
    margin-top: 37px; /* Espacio superior */
}

#formuariofooter div {
    width: 809px; /* Ancho del contenedor interno */
    height: 34px; /* Altura del contenedor interno */
    margin-bottom: 12px; /* Espacio inferior */
    display: flex; /* Coloca los elementos en fila */
}

#formuariofooter input {
    width: 334.28px; /* Ancho del campo de entrada */
    height: 34px; /* Altura del campo de entrada */
    font-weight: 400; /* Grosor del texto */
    font-size: 20px; /* Tamaño del texto */
    line-height: 34px; /* Altura de línea */
    color: #FFFFFF; /* Color del texto */
    background-color: transparent; /* Fondo transparente */
    border: 0px; /* Sin bordes */
}

#formuariofooter input::placeholder {
    color: #FFFFFF; /* Color del texto de marcador de posición */
    text-transform: capitalize; /* Capitaliza la primera letra de cada palabra */
}

#formuariofooter input:focus {
    outline: none; /* Elimina el contorno azul predeterminado al hacer clic */
}

#formuariofooter a {
    width: 190.8px; /* Ancho del enlace */
    height: 34px; /* Altura del enlace */
    margin-left: 283.91px; /* Espacio a la izquierda */
    font-weight: 400; /* Grosor del texto */
    font-size: 20px; /* Tamaño del texto */
    line-height: 34px; /* Altura de línea */
    color: #FFFFFF; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado */
    text-transform: capitalize; /* Capitaliza la primera letra de cada palabra */
}

#formuariofooter img {
    width: 24.42px; /* Ancho de la imagen */
    height: 16px; /* Altura de la imagen */
    margin-left: 50.95px; /* Espacio a la izquierda de la imagen */
}

/* Ajustes generales para el formulario */
#FORMULARIO {
    position: absolute; /* Posiciona el formulario en relación a su contenedor */
    z-index: 2; /* Asegura que esté por encima de otros elementos */
    width: 1500px; /* Ancho del formulario */
    height: 125px; /* Altura del formulario */
    background-color: #FFFFFF; /* Fondo blanco */
    margin-top: -63px; /* Espacio superior negativo para ajustar la posición */
    margin-left: 210px; /* Espacio a la izquierda */
    display: flex; /* Coloca los elementos en fila */
    align-items: center; /* Alinea los elementos verticalmente */
    border: 0px; /* Sin bordes */
    box-shadow: -10px 10px 20px #2D2D2D0D; /* Sombra para darle profundidad */
}

#formulario {
    display: flex; /* Coloca los elementos en fila */
    gap: 25px; /* Espaciado entre los elementos */
    margin-left: 97px; /* Espacio a la izquierda */
    margin-top: 30px; /* Espacio superior */
    margin-bottom: 30px; /* Espacio inferior */
}

.contenedor_formulario {
    width: 242px; /* Ancho del contenedor */
    height: 61px; /* Altura del contenedor */
}

.contenedor_formulario img {
    width: 14px; /* Ancho de la imagen */
    height: 14px; /* Altura de la imagen */
}

.contenedor_formulario label {
    width: 77px; /* Ancho de la etiqueta */
    height: 19px; /* Altura de la etiqueta */
    font-weight: 700; /* Grosor del texto */
    font-size: 16px; /* Tamaño del texto */
    line-height: 19.36px; /* Altura de línea */
    margin-left: 6px; /* Espacio a la izquierda */
    color: #345E40; /* Color del texto */
}

.contenedor_formulario input,
select {
    width: 140px; /* Ancho del campo de entrada o selección */
    height: 19px; /* Altura del campo */
    margin-top: 17px; /* Espacio superior */
    border: 0px; /* Sin bordes */
    font-weight: 600; /* Grosor del texto */
    font-size: 16px; /* Tamaño del texto */
    line-height: 19.36px; /* Altura de línea */
}

.contenedor_formulario input:focus {
    outline: none; /* Elimina el contorno azul predeterminado al hacer clic */
}

.contenedor_formulario hr {
    width: 242px; /* Ancho de la línea horizontal */
    margin-top: 6px; /* Espacio superior */
    border: 1px solid #686868; /* Color del borde */
}

.contenedor_formulario select {
    width: 100%; /* Ancho completo del contenedor */
    text-transform: capitalize; /* Capitaliza la primera letra de cada palabra */
}

#formulario button {
    width: 241px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    display: flex; /* Coloca los elementos en fila */
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-top: 9px; /* Espacio superior */
    background-color: #345E40; /* Fondo verde oscuro */
    border: 1px solid #345E40; /* Borde del mismo color que el fondo */
    border-radius: 10px; /* Bordes redondeados */
    color: #FFFFFF; /* Color del texto */
    font-weight: 700; /* Grosor del texto */
    font-size: 14px; /* Tamaño del texto */
    line-height: 16.94px; /* Altura de línea */
}