body{
    color: 2D2D2D;
    font-family: "Inter" , sans-serif
    font-weight: 100;
    font-optical-sizing: auto;
    font-synthesis: none;
}

.titolArticle{
    color: #345E40;
    margin-bottom: 2px solid #97A483;
    text-align: center;
    padding-top: 10px;
    border-bottom: 2px solid #97A483;
}